@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap");

/* font-family: 'Play', sans-serif; */

/* App */
.App {
  font-family: "Play", sans-serif;
  width: 70%;
  margin: 0 auto;
  box-shadow: grey 0 0 10px 10px;
  height: 100%;
}

/* Header */

.Header {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: black;
}

.Header h3 {
  padding-left: 50px;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.Header .cate-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-left: 50px;
  width: 30%;
  color: white;
}

.Header .cate-wrapper > div:hover {
  cursor: pointer;
  color: lightpink;
}

/* Home */

.Home img {
  width: 100%;
  margin-bottom: 50px;
}

/* ItemList */

.ItemList {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Item */

.Item {
  text-align: center;
  box-sizing: border-box;
  width: 30%;
  margin: 20px;
  border: 0.1px solid #eeeeee;
  border-radius: 4px;
  padding: 30px;
  box-shadow: #eeeeee 0 0 8px 8px;
  cursor: pointer;
}

.Item:hover {
  box-shadow: #bbbbbb 0 0 8px 8px;
}
